@import './reset';
@import './break_point';

@import './color';
@import './text';


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background:
    linear-gradient(to right, rgba(67, 66, 66, 0.3), rgba(218, 204, 204, 0.5), rgba(67, 66, 66, 0.3)),
    url(../Image/working-desk-2.jpg) center center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}