@import './reset';
@import './break_point';
@import './color';
@import './text';

$app-width: 700px;
$app-sm-width: 350px;

$display-height: 100px;
$display-padding: 20px;
$display-sm-padding: 15px;


$btn-color: $coral;
$btn-light-color: $tomato;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:
    linear-gradient(to right, rgba(67, 66, 66, 0.3), rgba(218, 204, 204, 0.5), rgba(67, 66, 66, 0.3)),
    url(../Image/working-desk-2.jpg) center center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.calculator {
  -webkit-box-shadow: 1px 3px 7px -3px rgba(0, 0, 0, 0.68);
  box-shadow: 1px 3px 7px -3px rgba(0, 0, 0, 0.68);
  border-radius: 6px;
  width: $app-width;
  margin: 6% auto;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;

  @include mobile {
    width: $app-sm-width;
  }

  .display {
    width: $app-width - 2 * $display-padding;
    padding: 10px $display-padding;
    font-size: 3rem;
    font-weight: 700;
    min-height: $display-height;
    background-color: gray;
    opacity: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-flow: row wrap;

    @include mobile {
      width: $app-sm-width - 2*$display-sm-padding;
      padding: 10px $display-sm-padding;
      font-size: 2rem;
    }
  }

  .button {
    border: 0.015px solid lightgrey;
    width: $app-width/4;
    height: $app-width/7;
    font-size: 1.7rem;
    font-weight: 600;
    transition: all .3s;
    outline: none;

    @include mobile {
      width: $app-sm-width/4;
      height: $app-sm-width/7;
      font-size: 1.3rem;
    }
  }

  .zero {
    width: $app-width/4 * 2;

    @include mobile {
      width: $app-sm-width/4 * 2;
    }
  }

  .button:hover {
    cursor: pointer;
    opacity: 50%;
  }

  .button:active {
    border-style: none;
    background-color: $btn-light-color;
  }

}